/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;
$pearl: #FBECDA;
$pearldark: #F9E4C8;
$pearllight: #FDF6ED;
$sail: #B4CEF8;
$saildark: #A1C2F7;
$saillight: #DAE7FC;
$smokyblack: #161313;
$spacecadet: #212B4D;
$spacecadetlight: #2B3864;
$spacecadetdark: #1F2847;
$tangolight: #EF8B43;
$tango: #EB7118;
$tangodark: #CE6012;
