.callout {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 150px;
    font-family: 'Poppins', sans-serif;
    background-color: $spacecadetdark;
    --minFontSize: 40px;
    --maxFontSize: 70px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    margin-bottom: 100px;
    .historic {
        color: $tangolight;
    }
    .diverse {
        color: $sail;
    }
    p {
        color: white;
        font-weight: 700;
        @include xl {
            padding: 0px 70px;
        }
    }
}