.events {
    display: grid;
    margin: 0px 20px;

    @include md {
        grid-template-columns: 360px auto;
    }

    @include lg {
        margin-left: 50px;
        margin-top: 80px;
        .celebrate {
            height: 40vh;
        }
    }

    @include xl {
        margin: 0px 210px;
    }
    .celebrate {
        background-image: url("../img/celebrate.jpg");
        height: 50vh;
        background-size: cover;
        background-position: center;
    }
    
    .celebrate-text{
        display: none;
        @include md {
            display: block;
            background-color: $sail;
            padding: 30px;
            h4 {
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: rem-calc(30);
                color: $spacecadetlight;
            }
            p {
                font-family: 'Shippori Mincho', serif;
                font-weight: 400;
                color: $smokyblack;
                font-size: rem-calc(14);
                line-height: 1.5;
                margin: 20px 0px;
            }
            button {
                border: none;
                border-radius: 3px;
                background-color: $tangolight;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                font-size: rem-calc(14);
                padding: 5px 20px;
                color: $pearllight;
                &:hover {
                    background-color: $tango;
                    transition: .3s;
                }
                &:active {
                    background: $tangodark;
                }
            }
        }
    }
}

.events-mobile {
    h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: rem-calc(30);
        padding: 23px 0px;
    }
    button {
        margin-top: 20px;
        border: none;
        border-radius: 3px;
        background-color: $tangolight;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: rem-calc(14);
        padding: 5px 20px;
        color: $pearllight;
    }
    p {
        font-family: 'Shippori Mincho', serif;
        font-weight: 400;
        color: $smokyblack;
        font-size: rem-calc(14);
        line-height: 1.4;
    }
    .celebrate-text-mobile {
        background-color: $sail;
        margin: 0px 20px;
        padding: 20px;
        @include md {
            display: none;
        }
        @include lg {
            display: none;
        }
        @include xl {
            display: none;
        }
    }
}
