header {
    .logo {
        h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            color: $tango;
            margin-top: 10px;
            margin-bottom: 12px;
        }
        i {
            font-size: 40px;
            color: $tango;
        }
        @include md {
            margin-left: 10%;
            i {
                margin-right: 20px;
            }
        }
    }
    .logo2 {
        @include xl {
            margin: 0px 240px;
        }
    }

    .covid {
        margin-top: 30px;
        background-color: $pearllight;
        padding: 20px 40px;
        p {
            font-family: 'Poppins', sans-serif;
            color: $spacecadetlight;
            font-weight: 500;
            a {
                color: $tango;

            }
        }
    }

    #button-container {
        padding: 10px;
        text-align: right;
    }

    #burger-container {
        @include md {
            display: none !important;
        }

        i {
            cursor: pointer;
            font-size: rem-calc(40);
        }
    }

    #nav-container {
        display: none;
        .nav-btns {
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            color: $saildark;
            text-decoration: none;
            padding: 20px 0px;
            width: 100%;
            &:hover {
                background: $pearl;
                transition: .3s;
            }
            &:active {
                background: $pearldark;
            }
        }
        ul li {
            text-align: center;
        }
        @include md {
            display: block !important;
            width: auto;
            ul {
                display: flex;
                align-items: center;
            }
            ul li {
                margin: 0 20px;
            }
        }
    }

    .navitems {
        @include md {
            border-top: 3px solid $spacecadet;
            margin: 10px;
        }
            .donate-button {
                border: none;
                background-color: $tangolight;
                color: $pearllight;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                padding: 6px 15px;
                border-radius: 3px;
                &:hover {
                    background-color: $tango;
                    transition: .3s;
                }
                &:active {
                    background: $tangodark;
                }
            }
    }

    #form1 {
        font-family: 'Poppins', sans-serif;
        font-size: rem-calc(14);
        color: $spacecadet;
    }
}
