.hero-img {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    height: 80vh;
    background-position: center;
    position: relative;
}

// .hero-container {
//     position: absolute;
//     text-align: left;
// }

// .mainherotext {
//     position: absolute;
//     top: 500px;
//     left: 16px;
//     font-size: rem-calc(72);
//     @include md {
//     position: absolute;
//     top: 400px;
//     left: 16px;
//     font-size: rem-calc(72);
//     }
//     @include lg {
//         position: absolute;
//         top: 360px;
//         left: 16px;
//         font-size: rem-calc(72);
//     }
//     @include xl {
//         position: absolute;
//         top: 300px;
//         font-size: rem-calc(100);
//         margin-left: 220px;
//     }
// }