.hero-img {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    height: 80vh;
    background-position: center;
    position: relative;
}

.hero-container {
    position: relative;
    text-align: left;
}

.mainherotext {
    position: absolute;
    bottom: 50px;
    left: 20px;
    --minFontSize: 80px;
    --maxFontSize: 120px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    @include xl {
        left: 200px;
    }
}