.news {
    margin: 60px 40px;
    display: grid;
    justify-content: center;

    button {
        margin: 0px 230px;
        padding: 5px;
    }

    .covid2 {
        background-image: url("../img/covid.jpg");
        height: 180px;
        background-size: cover;
        background-position: center;
    }
    
    .sign {
        background-image: url("../img/sign.jpg");
        height: 180px;
        background-size: cover;
        background-position: center;
    }
    
    .street {
        background-image: url("../img/street.jpg");
        height: 180px;
        background-size: cover;
        background-position: center;
    }
    
    .people {
        background-image: url("../img/people.jpg");
        height: 180px;
        background-size: cover;
        background-position: center;
    }

    .news-section {
        @include md {
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows: 200px auto;
            grid-gap: 10px;
        }
    }

    .news-container {
        @include lg {
            display: grid;
            grid-template-columns: 500px 500px;
            grid-template-rows: auto;
            grid-gap: 10px;
        }
    }
}
