.newsletter {
    background-color: $saillight;
    padding: 40px;
    i {
        font-size: rem-calc(85);
        color: $spacecadetlight;
    }
    h4 {
        text-align: center;
        color: $spacecadetlight;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: rem-calc(30);
    }
    h5 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: rem-calc(20);
        color: $spacecadetlight;
    }
    .signup {
        padding: 5px;
        margin: 10px;
        width: 300px;
    }

    p {
        margin: 40px;
        font-family: "Poppins", sans-serif;
        color: $spacecadetdark;
        font-size: rem-calc(10);
        @include xl {
            margin: 20px 400px;
        }
    }

    button {
        border: none;
        border-radius: 3px;
        background-color: $tangolight;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: rem-calc(14);
        padding: 5px 20px;
        color: $pearllight;
    }

        input {
            display: none;
        }
        
        label {
            display: inline-block;
            padding: 5px 10px;
            cursor: pointer;
        }
        
        label span {
            position: relative;
            line-height: 22px;
        }
        
        label span:before,
        label span:after {
            content: '';
        }
        
        label span:before {
            border: 2px solid $spacecadet;
            border-radius: 2px;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: top;
            background-color: white;
        }
        
        label span:after {
            background: $spacecadetlight;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 8px;
            left: 5px;
            transition: 300ms;
            opacity: 0;
        }
        
        label input:checked+span:after {
            opacity: 1;
        }
        .input-container {
            margin-top: 20px;
        }

        span {
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: rem-calc(20);
            color: $spacecadetlight;
        }

    .input-container {
        input {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: $spacecadet;
        }
    }
}

