.news {
    margin: 60px 50px;
    @include md {
        display: grid;
        justify-content: center;
    }

    .newsbutton {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .covid2 {
        background-image: url("../img/covid.jpg");
        height: 180px;
        background-size: cover;
        background-position: center;
    }
    
    .sign {
        background-image: url("../img/sign.jpg");
        height: 180px;
        background-size: cover;
        background-position: center;
    }
    
    .street {
        background-image: url("../img/street.jpg");
        height: 180px;
        background-size: cover;
        background-position: center;
    }
    
    .people {
        background-image: url("../img/people.jpg");
        height: 180px;
        background-size: cover;
        background-position: center;
    }

    .news-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1fr auto;
        grid-gap: 10px;
        margin-bottom: 20px;
        @include md {
            display: grid;
            grid-template-columns: 300px auto;
            grid-template-rows: 200px auto;
            grid-gap: 10px;
        }
    }

    .news-container {
        @include lg {
            display: grid;
            grid-template-columns: 500px 500px;
            grid-template-rows: auto;
            grid-gap: 10px;
        }
    }
}
