.ourstory {
    margin: 100px 0px 80px;
    @include md {
        margin: 75px;
    }
    @include lg {
        margin: 100px;
    }
    @include xl {
        margin: 100px 240px;
    }
    .ourstoryimg {
        background-image: url("../img/ourstory.jpg");
        height: 400px;
        background-size: cover;
        background-position: center;
        }

    .ourstory-info {
        margin: 25px;
        p {
            margin-bottom: 20px;
            background-color: $pearllight;
            padding: 20px;
        }
    }
}