.ourshops {
    margin: 60px 0px;
    .eat {
        background-image: url("../img/eat.jpg");
        height: 195px;
        width: 239px;
        background-size: cover;
        background-position: center;
    }
    
    .shop {
        background-image: url("../img/shop.jpg");
        height: 195px;
        width: 239px;
        background-size: cover;
        background-position: center;
    }
    
    .service {
        background-image: url("../img/service.jpg");
        height: 195px;
        width: 239px;
        background-size: cover;
        background-position: center;
    }

    .ourshops-content {
        p {
         width: 239px;   
        }
        @include md {
            display: grid;
            grid-template-columns: 250px 250px auto;
            justify-content: center;
        }
    }

}