.ourshops {
    margin: 40px;
    @include lg {
        margin: 0px 100px;
    }
    @include xl {
        margin: 75px 240px;
    }
    .eat {
        background-image: url("../img/eat.jpg");
        height: 195px;
        // width: 239px;
        background-size: cover;
        background-position: center;
    }
    
    .shop {
        background-image: url("../img/shop.jpg");
        height: 195px;
        // width: 239px;
        background-size: cover;
        background-position: center;
    }
    
    .service {
        background-image: url("../img/service.jpg");
        height: 195px;
        // width: 239px;
        background-size: cover;
        background-position: center;
    }

    .ourshops-content {
        @include md {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 10px;
        }
    }

}