/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.nav {
	
	.form {
		display: flex;
		justify-content: flex-end;
		margin-top: -55px;
			@include md {
				margin: 0px;
			}
	}
	
		.logo {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
				@include md {
					display: flex; 
					flex-direction: row !important;
				}
			}

			.logo2 {
				@include md {
					display: grid;
					grid-template-columns: 400px auto;
					align-items: baseline;
				}
			}
		

			.covid {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
			}

				#burger-container {
					display: flex;
					justify-content: center;
					margin: 60px;
					font-size: 40px;
				}
}


.newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	.signup {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
}

footer {
	.community {
		ul {
			li {
			display: grid;
			grid-template-rows: 30px 30px 30px 30px;
			}
		}
	}

	.info {
		.info2 {
			display: grid;
			grid-template-columns: 500px auto;
			grid-template-rows: 30px;
		}
	}
}