/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

body {
	overflow-x: hidden;
}

.nav {
	
	.form {
		display: flex;
		justify-content: center;
			@include md {
				margin: 0px;
				justify-content: flex-end;
			}
	}
	
		.logo {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
				@include md {
					display: flex; 
					flex-direction: row !important;
				}
			}

			.logo2 {
				@include md {
					display: grid;
					grid-template-columns: 400px auto;
					align-items: baseline;
				}
			}
		

			.covid {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				@include md {
					display: flex;
					flex-direction: row;
					justify-content: center;
					.alert {
						margin: 10px;
					}
				}
			}

				.burgernav {
					#burger-container {
						display: flex;
						justify-content: center;
						margin: 20px 0px 20px;
						font-size: 50px;
						color: $spacecadet;
					}
				}
					.navitems {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						text-align: center;
					}
			
}


.newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	.signup {
		display: flex;
		flex-direction: column;
		// align-items: center;
	}

	.input-container {
		@include md {
			display: grid;
			grid-template-columns: auto auto;
		}
	}
}