/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.nav {
	
	.form {
		display: flex;
		justify-content: flex-end;
	}
	
		.logo {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}

			.covid {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
			}

	
}